.ContactList {
  margin: 20px 0;
  max-width: 320px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

.ContactItem {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px;

  .contactBtn {
    padding: 10px 20px;
    margin-left: 20px;

    border: none;
    outline: none;

    border-radius: 8px;
    background-color: rgba(197, 188, 195, 0.5);
    cursor: pointer;

    &:hover {
      background-color: rgba(174, 164, 172, 0.5);
    }
  }
}
